.admin-page{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.dashboard{
width: 300px;
height: 900px;
font-family: $monste;
background: #574b90;
color: white;
}
.dash-header{
display: flex;
justify-content: center;
align-items: center;
background-color: white;
padding: 10px;
color: #303a52;
border-bottom: 6px solid #fc85ae;
}
.admin-name{
font-family: $monste;
font-size: 1.3rem;
font-weight: 600;
opacity: .8;
}
.det-theorderws-cont{
display: flex;
}
.det-ttle-order{
font-family: $monste;
font-size: 1.5rem;
color: $one;
}
.dash-imgbx{
height: 40px;
width: 40px;
border-radius: 50%;
overflow: hidden;
margin-right: 5px;
.dash-img{
height: 100%;
width: 100%;
}
}
.dash-field{
width: 100%;
}
.dashsvg{
width: 30px;
margin-right: 10px;
}
.dash-cnt-ttlebx{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 15px;
background-color: #303a52 ;
}
.dash-cnt-title{
font-size: 1.2rem;

}
.dash-cntbx{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
cursor: pointer;
}
.dash-cntbx:hover{
opacity: .8;
background-color: #9e579d;
}
.dashpicked{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
background-color: #9e579d;
cursor: pointer;
}
.dash-png-lbel{
@include align();
}
.fa-clock, .fa-check-circle{
font-size: 20px;
color: white;
margin-right: 10px;

}
.det-person-cont{
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid $one;
}
// recent orders style
.signout-btn{
position: absolute;
top: 15px;
right: 20px;
cursor: pointer;
background: none;
font-family: $monste;
font-size: 1.4rem;
border: none;
color: #303a52;
outline: none;
}
.signout-btn:hover{
color:#9e579d;
}
.signout-btn:active{
color:pink;
}
.recent-page{
padding: 80px 20px;
}
.dash-field-ttle{
font-family: $monste;
letter-spacing: 1px;
color:  #574b90;
padding-bottom: 10px;
margin-bottom: 15px;
border-bottom: 3px solid #574b90;
padding-left: 10px;
}
.orderlist-headerz{
display: flex;
width: 100%;
background-color: #574b90;
color: white;
}
.ol-header{
width: 20%;
padding: 5px 0 5px 10px;
}
.the-order-popup{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 99;
background: whitesmoke;
color: black;
padding: 60px 80px;
}
.o-container{
display: flex;
width: 100%;
flex-direction: column;

}
.order-bx{
display: flex;
cursor: pointer;
width: 100%;
}
.order-bx:hover{
background-color: slateblue;
color: white;
transition: .3s;
}
.order-bx:hover .fa-check-circle{
color: lightgreen;
transition: .3s;
}
.order-bx:hover .fa-times-circle{
color: red;
transition: .3s;
}
.order{
width: 20%;
padding: 10px 0 10px 10px;
}
.da-check{
color: green;
font-size: 1.5rem;
}
.da-check:active{
color: white;
}
.fa-times-circle{
color: crimson;
font-size: 1.5rem;
}
.fa-check-circle, .fa-times-circle{
pointer-events: none;
}
.ol-btn{
cursor: pointer;
background: none;
border: none;
outline: none;
}
.ol-btn-check:active .fa-check-circle{
color: white;
}
.det-theorders-cont{
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
}
.det-order-cont{
margin-bottom: 15px;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.det-orders{
font-family: $monste;
font-size: 1.2rem;
color: $one;
}
.det-orderbx{
padding-right: 10px;
margin-right: 15px;
padding: 5px 10px;
background: $four;
margin-bottom: 15px;
}
.pop-span{
font-family: 14px;
color:$two;
}
.pop-orderno{
font-weight: 600;
font-size: 1.2rem;
font-family: $monste;
color: $one;
}
.det-ttle{
font-size: 1.8rem;
font-family: $monste;
color: $one;
padding-bottom: 5px;
border-bottom: 1.5px solid $two;
margin-bottom: 10px;
}
.pop-x{
outline: none;
background: none;
border: none;
float: right;
transform: translateY(-30px);
cursor: pointer;
}
#xforadmin{
color: $one;
font-size: 3rem;
}
///   MOBILE SIZE
@media(max-width: 840px){
.the-order-popup{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 99;
background: whitesmoke;
color: black;
padding: 60px 20px;
}
.admin-page{
display: flex;
flex-direction: column;
}
.dashboard{
width: 100%;
height: auto;
font-family: $monste;
background-color: #574b90;
color: white;
}
.dash-header{
display: flex;
justify-content: flex-start;
align-items: center;

padding: 10px;
color: #303a52;
border-bottom: 6px solid #fc85ae;
}
.admin-name{
font-family: $monste;
font-size: 1.3rem;
font-weight: 600;
opacity: .8;
}
// recent page
.recent-page{
padding: 20px 5px;
margin-bottom: 500px;
}
.ol-header-mob{
display: none;
}
.orderlist-headerz{
@include space();
width: 100%;
background-color: #574b90;
color: white;
}
.order-bx{
@include space();
cursor: pointer;
width: 100%;
}

.det-person-cont{
flex-wrap: wrap;
}

}