// BANANA MENU PAGE
.menu-page{
    padding: 100px;
    }
    .menu-page-ttle{
    text-align: center;
    font-family: $ptserif;
    color: brown;
    margin-bottom: 50px;
    }
    .menu-imgbx{
    height: 240px;
    width: 240px;
    overflow: hidden;
    transition: .4s;
    .img-bananaimg{
    height: 100%;
    width: 100%;
    transition: .4s;
    }
    }
    .menu-imgbx:hover .img-bananaimg{
    transform: scale(1.2);
    transition: .4s;
    }
    .menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    }
    .themenu-bx{
    margin: 30px 50px;
    }
    .link-menu{
    text-decoration: none;
    }
    .menu-cnt{
    color: brown;
    font-family: $monste;
    font-size: 1.1rem;
    width: 240px;
    padding: 5px;
    }
    .menu-name{
    font-size: 1.2rem;
    }


@media(max-width: 840px){
    .menu-page{
    padding: 80px 10px;
    }
}
    