///// Collections Page
.collec-page{
    padding: 10px 100px 100px 100px;
    margin-bottom: 100px;
    }
    .all-prod{
    text-align: center;
    font-family: $menucap;
    font-size: 3rem;
    color: $dark;
    }
    .collections{
    @include align();
    margin: 15px auto;
    }
    .banana-coll, .cookie-coll{
    margin: 25px auto;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
    }
    .coll-imgbx{
    height: 410px;
    width: 400px;
    overflow: hidden;
    transition: .2s;
    .coll-img{
    height: 100%;
    width: 100%;
    }
    }
    
    .coll-imgbx:hover .coll-img{
    transition: .2s;
    transform: scale(1.1);
    }
    
    .coll-cnt{
    text-align: center;
    padding: 6px 0;
    font-size: 2rem;
    font-family: $menucap;
    color: $dark;
    background: $verylight;
    
    }
    @media(max-width: 900px){
    .collec-page{
    padding: 50px;
    }
    .coll-imgbx{
    width: 300px;
    height: 310px;
    }
    .collections{
    flex-wrap: wrap;
    }
    .all-prod{
    font-size: 2rem;
    margin-bottom: 20px;
    }
    }


    
    