.bundle-bx{
display: flex;
justify-content: center;
align-items: flex-start;
margin: 40px 0 100px 0;
}
.gallery{
font-size: 3.4rem;
font-family: $menucap;
color: brown;
margin: 0 auto;
width: 100%;
padding-bottom: 7px;
text-align: center;
}

// LEFT BUNDLE BOX
.left-bndl{
height: 470px;
width: 400px;
margin-bottom: 15px;
.left-img{
height: 100%;
width: 100%;
}
}

.left-bndl-two{
height: 350px;
width: 400px;
.left-img-two{
height: 100%;
width: 100%;
}
}
.left-bndl-two-cnt{
width: 400px;
text-align: center;
color: brown;
font-family: $menucap;
font-size: 1.5rem;
}

// RIGHT BUNDLE BOX
.right-bndl{
padding-left: 10px;
}
.top-bx{
height: 480px;
width: 550px;
.top-img{
height: 100%;
width: 100%;
}
}
.top-secbx{
width: 550px;
text-align: center;
padding: 10px;
font-size: 1.5rem;
font-family: $menucap;
color: brown;
background-color: whitesmoke;
}

.top-thirdbx{
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: row;
width: 550px;
}
.left-bx{
width: 274px;
height: 320px;
.left-img{
height: 100%;
width: 100%;
}
}
.right-bx{
width: 274px;
height: 320px;
.right-img{
height: 100%;
width: 100%;
}
}
@media(max-width: 840px){
.bundle-bx{
@include align();
}

}

@media(max-width: 600px){
// RIGHT BUNDLE BOX
.bundle-bx{
@include align();
}
.right-bndl{
padding-left: 0;
}
.top-bx{
height: 400px;
width: 100%;
.top-img{
height: 100%;
width: 100%;
}
}
.top-secbx{
width: 100%;
text-align: center;
padding: 10px;
font-size: 1.5rem;
font-family: $menucap;
color: brown;
background-color: whitesmoke;
}

.top-thirdbx{
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: row;
width: 100%;
}
.left-bx{
width: 100%;
height: 300px;
.left-img{
height: 100%;
width: 100%;
}
}
.right-bx{
width: 100%;
height: 300px;
.right-img{
height: 100%;
width: 100%;
}
}

}