// bundle styles for gallery

.bundle-bx{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }
    
    .left-bndl{
    height: 580px;
    width: 490px;
    margin-right: 20px;
    margin-bottom: 15px;
    .left-img{
    height: 100%;
    width: 100%;
    }
    }

    .left-bndl-two{
    height: 325px;
    width: 490px;
    margin-right: 20px;
    .left-img-two{
    height: 100%;
    width: 100%;
    }
    }
    .left-bndl-two-cnt{
    text-align: center;
    padding: 10px;
    font-family: $menucap;
    color: #821506;
    
    font-size: 1.5rem;
    width: 490px;
    }
    .right-bndl{
    height: auto;
    width: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    
    
    
    .top-cnt{
    text-align: center;
    padding: 5px 0;
    font-family: $menucap;
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #821506;
    }
    
    .top-bx{
    grid-area: 1/1/2/3;
    }
    .left-bx{
    grid-area: 2/1/3/2;
    }
    .right-bx{
    grid-area: 2/2/3/3;
    }
    
    .top-side{
        height: calc(100% -20px);
        width: 100%;
        .top-img{
        height: 100%;
        width: 100%;
        }
        }
    .left-side{
    height: 100%;
    width: 100%;
    .left-img{
    height: 100%;
    width: 100%;
    }
    }
    .right-side{
    height: 100%;
    width: 100%;
    .right-img{
    height: 100%;
    width: 100%;
    }
    }
        
    