
// LOADING SCREEN
.loadingscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include align();
    background-color: white;
    
    }
    .invi{
    visibility: hidden;
    }
    .img-loadbx{
        border-radius: 50%;
        overflow: hidden;
        height: 140px;
        width: 140px;
    .img-load{
        height: 100%;
        width: 100%;
    }
    }
    .load-cont{
    @include align();
    flex-direction: column;
    }
    