// THE MEDIA QUERY
@media(max-width: 900px){
// FOOTER
.custom-tell{
display: none;
}


    // BUNDLE ORDER FOR BANANA BREADS
        .bndl-imgbx{
          
            display: none;
        }
        .bundle-order{
            margin: 0 auto;
            width: 415px;
            height: auto;
            box-shadow: 2px 3px 13px rgba(0,0,0,.3);
        }
    // test home page
.the-logobx{
height: 120px;
width: 120px;
}
.madebyhand{
font-size: 2.7rem;
}
    //// cart page
        .cart-page{
        padding: 0 50px 800px 50px;
        margin-top: 20%;
        margin-bottom: 100px;
        }
        .crt-name{
            font-size: 1.5rem;
            font-family: $menucap;
            color: brown;
            }
            .crt-subname{
            font-family: $ptserif;
            color: brown;
            margin-bottom: 3px;
            font-size: .9rem;
            }
        
        .crt-btns{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        }
        .crt-btn{
        
            background: none;
            outline: none;
            cursor: pointer;
            font-size: 0.9rem;
            color: $dark;
            }
        .rem{
            margin-bottom:10px;
            }
        .bread-details{
        padding: 0;
        }
            .the-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 40px;
                }
                .the-cart{
                width: 600px;
                border-bottom: 1px solid brown;
                }
                .the-sum{
                width: 500px;
                margin-top: 20px;
                }
                
                .cart-headingone{
                width: 100%;
                border-radius: 0;
                font-size: 1.8rem;
                }
                .fa-home{
                    font-size: 2.6rem;
                    color: brown;
                }
                .cart-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 400;
                    border-bottom: 1px solid brown;
                    font-family: $noto;
                    .crt-headone{
                    font-weight: 600;
                    font-size: 1.5rem;
                    color: brown;
                    }
                    .crt-ul{
                    list-style: none;
                    display: flex;
                    }
                    .crt-ul .crt-li{
                    margin-left: 20px;
                    color: brown;
                    font-size: 1.2rem;
                    }
                    }
                    .cost{
                        margin-left: 84px;
                        font-size: 1.6rem;
                    }
        // BUNDLE
.left-bndl{
    display: none;
    }
    .left-bndl-two{
    display: none;
    }
    .left-bndl-two-cnt{
    display: none;
    }       
        }
        
@media(max-width: 700px){
    .test-home{
    display: none;
    }
    // FOOTER
    .footer-categ{
    display: none;
    }
    footer{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .cart-headingone{
    width: 100%;
    border-radius: 0;
    font-size: 1.2rem;
    }
    .fa-home{
        font-size: 2rem;
        color: brown;
    }
    // cart image sizes
    .cart-page{
    padding: 0 50px 800px 50px;
    }
    .img-and-name{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    }
    .qnty{
        margin-bottom: 5px;
    }
    .crt-btns{
    display: flex;
    flex-direction: row;
    .crt-btn{
    font-size: 1.2rem;
    }
    }
    .crt-name{
        font-size: 2rem;
    }
    .crt-imgbx{
        height: 170px;
        width: 150px;
        margin-right: 5px;
        margin-bottom: 4px;
        .crt-img{
        height: 100%;
        width: 100%;
        }
        }
        .bigbndl-imgbx{
        height: 160px;
        width: 170px;
        margin-right: 5px;
        .bigbndl-img{
        height: 100%;
        width: 100%;
        }
        }
        .qnty{
        font-size: 1rem;
        }
        .crt-subname{
        display: none;
        }
        .cost{
        font-size: 1.4rem;
        }
        // bundle order banan breads 
        
        .bundle-order{
            margin: 0 auto;
            height: auto;
            box-shadow: 2px 2px 10px rgba(0,0,0,.3);
            width: 310px;
        }
        .banana-breads{
        
        padding: 12px;
        }
        .another-imgbx{
            width: 280px;
            height: 240px;
            .another-img{
            height: 100%;
            width: 100%;
            }
        }


.mobobanner-page{
display: flex;
}



    
}