// mobo BANNER PAGE
.mobobanner-page{
    position: relative;
    height: 100vh;
    z-index: 1;
    display: none;
    .mobo-bannimg{
    height: 100%;
    width: 100%;
    }
    }
    
    .mobo-banner-cntbx{
    position: absolute;
    bottom: 30%;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 22;
    }
    .mobo-banner-p{
    font-family: $vibes;
    font-size: 1.7rem;
    font-weight: 600;
    color:brown;
    width: 100%;
    padding: 6px 0;
    margin: 0 auto;
    letter-spacing: 2px;
background-color: white;
margin-bottom: 20px;
    }
    .mobo-banner-btn{
    background:white;
    border: none;
    border-radius: 25px;
    color:brown;
    outline: none;
    font-size: 1.3rem;
    padding: 4px 15px;
    font-weight: 600;
    font-family: $monste;
    cursor: pointer;
    position: relative;
    z-index: 22;
    }

    .mobo-banner-btn:hover{
    opacity: .9;
    background: $verylight;
    color: black;
    }
    .mobo-banner-btn:active{
    filter: invert(1);
    }

  
    .mobo-banner-cntimgbx{
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 38%;
    margin-bottom: 21px;
    .bann-img{
    height: 100%;
    width: 100%;
    }
    }