@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

// fonts 
$menucap: 'Redressed', cursive;
$ptserif: 'PT Serif', serif;
$noto: 'Noto Sans KR', sans-serif;
$monste:  'Montserrat', sans-serif;
$vibes: 'Great Vibes', cursive;

// color
$dark: #884939;
$medium: #967248;
$light: #caa653;
$verylight:#fff3a7;
$blue-ap: #b1e0da;
$dark-ap: #311716;

// mixins
@import "./mixinss.scss";

// HEADER
@import "./header.scss";

// loading screen before receipt
@import "./loadingscreen.scss";
// ADMIN SIGN
@import "./admin.scss";

@import "./homestyle.scss";


//MOBO BANNER
@import "./mobobanner.scss";
// BREADS INFO STYLE
@import "./breadsInfo.scss";
@import './bananamenu.scss';
@import './register.scss';
@import "./signin.scss";

// RECEIPT STYLING
@import "./receipt.scss";

// FOOTER STYLING
@import "./footer.scss";

// CART PAGE
@import "./cart.scss";

// CHOICES BANANABREADS AND COOKIES
@import "./choices.scss";

// GALLERY
@import "./gallery.scss";

// ORDER SUMMARY NG CART
@import "./order.scss";

// COLLECTION STYLES
@import "./collection.scss";

///// CHECKOUT
@import "./checkout.scss";

// SHIPPING ADDRESS
@import "./shipping.scss";

// ALL MEDIA QUERIES
@import "./mediaq.scss";

@import "./mobilemenu.scss";

@import "./popupmsg.scss";

// admin style
@import "./adminstyle.scss";

// about cookies style
@import "./CookiesInfoMenu.scss";

.the-order-popup{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 99;
background: whitesmoke;
color: black;
}
.pop-x{
padding: 10px 15px;
background: none;
font-size: 1.5rem;
font-family: $monste;
float: right;
border-radius: 50%;
border: 1px solid red;
background: none;
color: red;
position: absolute;
top: 25px;
right: 30px;
cursor: pointer;
outline: none;
}