@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

// fonts 
$menucap: 'Redressed', cursive;
$ptserif: 'PT Serif', serif;
$noto: 'Noto Sans KR', sans-serif;
$monste:  'Montserrat', sans-serif;
$vibes: 'Great Vibes', cursive;

// color
$dark: #884939;
$medium: #967248;
$light: #caa653;
$verylight:#fff3a7;
$blue-ap: #b1e0da;
$dark-ap: #311716;

// mixins
@import "./mixinss.scss";

// HEADER
@import "./header.scss";

// loading screen before receipt
@import "./loadingscreen.scss";
// ADMIN SIGN
@import "./admin.scss";

@import "./homestyle.scss";

//MOBO BANNER
@import "./mobobanner.scss";
// BREADS INFO STYLE
@import "./breadsInfo.scss";
@import './bananamenu.scss';
@import './register.scss';
@import "./signin.scss";

// RECEIPT STYLING
@import "./receipt.scss";

// FOOTER STYLING
@import "./footer.scss";

// CART PAGE
@import "./cart.scss";

// CHOICES BANANABREADS AND COOKIES
@import "./choices.scss";

// GALLERY
@import "./gallery.scss";

// ORDER SUMMARY NG CART
@import "./order.scss";

// COLLECTION STYLES
@import "./collection.scss";

///// CHECKOUT
@import "./checkout.scss";

// SHIPPING ADDRESS
@import "./shipping.scss";

// ALL MEDIA QUERIES
@import "./mediaq.scss";

@import "./mobilemenu.scss";

@import "./popupmsg.scss";

// admin style
@import "./adminstyle.scss";

// about cookies style
.cookie-ttle-page{
font-size: 2.4rem;
color: brown;
text-align: center;
margin-bottom: 50px;
}
.cookis-about-page{
padding:0 100px 140px 100px ;
}
.cookies-section-cont{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 1fr 1fr;
}
.ckies-imgbx{
overflow: hidden;
transition: .5s;
}
.ckies-imgbx:hover .ck-img {
transform: scale(1.1);
transition: .5s;
}
.ckies-imgbx{
overflow: hidden;
transition: .5s;
cursor: pointer;
}
.ck-img{
height: 100%;
width: 100%;
transition: .5s;
}