@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

// fonts 
$menucap: 'Redressed', cursive;
$ptserif: 'PT Serif', serif;
$noto: 'Noto Sans KR', sans-serif;
$monste:  'Montserrat', sans-serif;
$vibes: 'Great Vibes', cursive;

// color
$dark: #884939;
$medium: #967248;
$light: #caa653;
$verylight:#fff3a7;
$blue-ap: #b1e0da;
$dark-ap: #311716;

$two: #574b90;
$one: #303a52;
$four: #fc85ae;
$three: #9e579d;

// mixins
@import "./mixinss.scss";

// HEADER
@import "./header.scss";

// loading screen before receipt
@import "./loadingscreen.scss";
// ADMIN SIGN
@import "./admin.scss";

@import "./homestyle.scss";


//MOBO BANNER
@import "./mobobanner.scss";
// BREADS INFO STYLE
@import "./breadsInfo.scss";
@import './bananamenu.scss';
@import './register.scss';
@import "./signin.scss";

// RECEIPT STYLING
@import "./receipt.scss";

// FOOTER STYLING
@import "./footer.scss";

// CART PAGE
@import "./cart.scss";

// CHOICES BANANABREADS AND COOKIES
@import "./choices.scss";

// GALLERY
@import "./gallery.scss";

// ORDER SUMMARY NG CART
@import "./order.scss";

// COLLECTION STYLES
@import "./collection.scss";

///// CHECKOUT
@import "./checkout.scss";

// SHIPPING ADDRESS
@import "./shipping.scss";

// ALL MEDIA QUERIES
@import "./mediaq.scss";

@import "./mobilemenu.scss";

@import "./popupmsg.scss";

// admin style
@import "./adminstyle.scss";

// about cookies style
@import "./CookiesInfoMenu.scss";

.the-order-popup{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 99;
background: whitesmoke;
color: black;
padding: 60px 80px;
}
.pop-x{
padding: 10px 18px;
background: none;
font-size: 1.5rem;
font-family: $monste;
float: right;
border-radius: 50%;
border: 1px solid red;
background: none;
color: red;
position: absolute;
top: 25px;
right: 30px;
cursor: pointer;
outline: none;
}
.det-person-cont{
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid $one;
}
.det-ttle{
font-size: 1.8rem;
font-family: $monste;
color: $one;
padding-bottom: 5px;
border-bottom: 1.5px solid $two;
margin-bottom: 10px;
}
.pop-orderno{
font-weight: 600;
font-size: 1.2rem;
font-family: $monste;
color: $one;
}
.pop-span{
font-family: 14px;
color:$two;
}
.det-order-cont{
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.det-ttle-order{
font-family: $monste;
font-size: 1.5rem;
color: $one;
}

.det-theorderws-cont{
display: flex;
}
.det-orderbx{
padding-right: 10px;
margin-right: 15px;
border-right: 1px solid $one;
}
.det-orders{
font-family: $ptserif;
}
@media(max-width: 800px){
.the-order-popup{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 99;
background: whitesmoke;
color: black;
padding: 60px 20px;
}
}
